<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Blobdoge</display-name>

	<servlet>
		<servlet-name>Startup</servlet-name>
		<servlet-class>ch.blobber.servlets.Startup</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>ch.blobber.servlets.AuthServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>infoA</servlet-name>
		<servlet-class>ch.blobber.servlets.InfoAddressServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>infoU</servlet-name>
		<servlet-class>ch.blobber.servlets.InfoURLServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sendA</servlet-name>
		<servlet-class>ch.blobber.servlets.SendAdressServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sendU</servlet-name>
		<servlet-class>ch.blobber.servlets.SendURLServlet</servlet-class>
	</servlet>

</web-app>